
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card">
    <div class="card-header text-center">
        <h2>About The Healthcare Companion</h2>
    </div>
    </br>
    <div class="row">
        <div class="col-md-8 order-md-2">
            </br>
            <h4>Created in response to increased remote medical care during the COVID-19 Pandemic, <span class="font-weight-bold font-italic">Healthcare Companion</span> provides an efficient way for doctors and patients to interact through sharing medical data and resources to provide effective care.</h4>
        </div>
        <div class="col-md-4 order-md-1">
            <img class="border border-danger rounded img-fluid mx-auto" src="~/Images/covid19.jpg">
        </div>
    </div>
    <hr/>
    <div class="row">
        <div class="col-md-8 order-md-1">
            </br>
            <ul>
                <h4>The Healthcare Companion provides users a way to track their medical data easily and efficiently, while also providing doctors a way to monitor this data more accurate diagnoses.</h4>
            </ul>
        </div>
        <div class="col-md-4 order-md-2">
            <img class="rounded img-fluid mx-auto" src="~/Images/medicaldata2.jpg">
        </div>
    </div>
</div>