
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>About</h2>
<br />
<h3>This is the about section of the Web Application</h3>
<h4>The point of this project is to give people a way to track their medical data easily and efficiently, while also providing doctors a way to see this data for easier and more accurate diagnoses.</h4>

