
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Medical Home</h2>
<h3>This page will display current information.</h3>
<h3>If you want to register as a new patient, click the tab above.</h3>



