
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card">
    <div class="card-header text-center">
        <h2>The Healthcare Companion Home</h2>
    </div>
    </br>
    <div class="row">
        <div class="col-md-8 order-md-2">
            </br>
            <h4><span class="font-weight-bold font-italic">The Healthcare Companion</span> is a way for doctors and patients to interact efficiently to provide better access to healthcare.</h4>
            <h4>This product can be considered a companion site to</h4>
            <h4><span class="font-weight-bold font-italic">TeleMed&reg;</span>: a medical answering service to provide remote healthcare.</h4>
        </div>
        <div class="col-md-4 order-md-1">
            <img class="rounded img-fluid mx-auto" src="~/Images/medical-data-management.jpg">
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-md-8 order-md-1">
            </br>
            </br>
            <ul>
                <h3>If you are a patient, you can register by clicking on the <a href="~/Default/PatientRegistration" class="font-weight-bold text-primary">Patient Registration</a> tab above.</h3>
            </ul>
        </div>
        <div class="col-md-4 order-md-2">
            <img class="rounded img-fluid mx-auto" src="~/Images/patientdoctor.jpg">
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-md-8 order-md-2">
            </br>
            </br>
            <h3>If you are a doctor that wishes to register with </h3> <h3><span class="font-weight-bold font-italic"> The Healthcare Companion</span>, you may do so by clicking the <a href="~/Default/PatientRegistration" class="font-weight-bold text-primary">Doctor Registration</a> tab above.</h3>
        </div>
        <div class="col-md-4 order-md-1">
            <img class="rounded img-fluid mx-auto" src="~/Images/doctorimage.jpg">
        </div>
    </div>
</div>
<hr />
