@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Admin Home</h2>
<h3>This page will display current information.</h3>
<h3>Patient and Doctor lists are shown in the tabs above.</h3>



