
@{
    ViewBag.Title = "SignOut";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>You are now Signed Out</h2>
<h2>You will be redirected in a moment.</h2>
<meta http-equiv="refresh" content="3; /Default/Login">