<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Healthcare Companion</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.0.0.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/Scripts/popper.js"></script>

</head>
<body>

    <div class="container">
        <div class="container-fluid">
            <img class="img-fluid" src="~/Images/Medical Banner2.png" />
        </div>

        <div class="container-fluid">
            <nav class="navbar navbar-expand-sm bg-light">

                <!-- Links -->
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="~/Doctor/">Doctor Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="~/Doctor/ListPatients">Patients</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="~/Doctor/ApprovePatients">Approve Pending Patients</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="~/Doctor/EditDoctorInfo">Edit Doctor Information</a>
                    </li>
                    @if (Context.User.Identity.IsAuthenticated)
                    {
                        <li class="nav-item">
                            <a class="nav-link" onclick="document.getElementById('logout_form').submit();" style="cursor: pointer;">
                                Sign out
                            </a>
                            <form action="/Doctor/SignOut" method="post" id="logout_form"></form>
                        </li>
                    }
                </ul>

            </nav>
        </div>

        <div class="container-fluid">

        </div>

        <div class="container body-content">
            @RenderBody()
            <hr />
        </div>
        <footer class="container-fluid">
            <p>&copy; @DateTime.Now.Year - Healthcare Companion</p>
        </footer>
    </div>
</body>
</html>