
@{
    ViewBag.Title = "SignOut";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript">
   function preventBack(){window.history.forward();}
    setTimeout("preventBack()", 0);
    window.onunload=function(){null};
</script>
<h2>You are now Signed Out</h2>
<meta http-equiv="refresh" content="3; /Default/Login">

